.work {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}

.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    gap: 30px;
}

.cart-container {
    position: sticky;
    bottom: 0;
}